@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1B4C0F;
}

p {
  line-height: 175%;
  font-family: 'Lato';
  font-weight: lighter;
}

h1 {
  font-family: 'Nunito';
  font-size: 2.2rem;
}

h2 {
  font-family: 'Nunito';
  font-size: 2rem;
}

.App {
  text-align: center;
  background-color: #fafafa;
}

.Content {
  margin-top: 70px;
}

.Container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #1B4C0F;
}

.MainContent {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  .Container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

/******NavBar******/

.Navbar {
  height: 5em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Navbar nav {
  height: 100%;
}

.NavLinks {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: column;
}

.NavItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 20px;
}

.NavItem a {
  color: #307F1A;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavItem a:hover,
.NavItem a:active
.NavItem a.active {
  border-bottom: 4px solid #307F1A;
}

.SideDrawer {
  position: fixed;
  width: 380px;
  max-width: 80%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #C9EFAE;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.DrawerToggle {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 4px;
  background-color: #307F1A;
}

@media (max-width: 559px) {
  .DesktopOnly {
    display: none;
  }
}

@media (max-width: 767px) {
  .DesktopOnlyMedium {
    display: none;
  }
}

@media (min-width: 768px) {
  .SingleLogo {
    display: none;
  }
}

@media (min-width: 560px) {
  .SideDrawer {
    display: none;
  }
  .NavLinks {
    flex-flow: row;
  }

  .Logo {
    margin-bottom: 0;
  }
  
  .NavItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .NavItem a {
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .NavItem a:hover,
  .NavItem a:active
  .NavItem a.active {
    border-bottom: 4px solid #307F1A;
  }
}

@media (min-width: 560px) {
  .DrawerToggle {
      display: none;
  }
}

/******Footer******/

.Footer {
  width: 100%;
  background-color: rgb(244, 244, 244);
  padding: 40px;
  box-sizing: border-box;
  z-index: 95;
  font-weight: 500;
  border-top: 1px solid rgb(226, 226, 226);
}

.FooterContainer {
  display: flex;
  flex-direction: column;
}

.SocialsLinks {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.SocialItem {
  margin: 0;
  padding: 5px;
  transition: .2s
}

.SocialItem img {
  transition: .2s
}

.SocialItem img:hover {
  transform: scale(1.1);
}

.SocialIcon {
  width: 3.5em;
  height: 3.5em;
}

@media (min-width: 768px) {
  .FooterContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}


/******Logo******/

.Logo,
.SingleLogo {
  padding: 8px 8px 0 0;
  box-sizing: border-box;
  margin: 0 20px;
}

.Logo img,
.SingleLogo img {
  height: 2em;
}

.LogoContainer a {
  display: flex;
  align-items: center;
}

.LogoContainer h1 {
  font-size: 20px;
  color: #307F1A;
}

/******Banner******/

.TitleBanner {
  background-color: white;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
  min-height: 50vh;
}

.TitleBannerText {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 60px;
  align-items: stretch;
  text-align: left;
}

.BannerMain {
  margin-bottom: 40px;
}

.BannerImage {
  width: 80%;
  max-width: 500px;
  margin-top: 60px;
}

.Tagline {
  color: #42AD24;
  margin-bottom: 50px;
}

@media (min-width: 768px) { 
  .TitleBanner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
  }

  .BannerImage {
    margin: 0 60px 0 20px;
    width: 40%;
  }
  
}

/******Intro******/

.CompanyIntroBackground {
  background-color: #A3E585;
  width: 100%;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}


.CompanyIntro {
  width: 100%;
}

.IntroImage {
  padding-top: 20px;
  width: 80%;
  max-width: 450px;
}

.Arrow {
  width: 2em;
  display: inline;
  padding-left: 2em;
}

.ArrowLink {
  margin-top: 40px;
}

.Inline {
  display: inline;
}

.AboutPB {
  padding: 50px 20px;
}

@media (min-width: 768px) { 
  .CompanyIntro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0px;
  }
  
  .AboutPB {
    width: 40%;
    text-align: left;
  }

  .IntroImage {
    width: 60%;
  }
}

/******Stats******/

.CompanyStats {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}

.MarginTop {
  margin: 50px 20px 0 20px;
}

.StatSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Statbox {
  background-color: #EAF8D3;
  height: 200px;
  width: 200px;
  color: #307F1A;
  border-radius: 50%;
  padding: 20px 20px;
  text-decoration: none;
  display: flex;
  margin: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Platform {
  color: #1B4C0F;
}

.Stat {
  margin: 0;
}

@media (min-width: 768px) { 
  .StatSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/******Partners******/

.Partners {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-top: 50px;
  background-color: white;
}

.PartnerContainer {
  margin: 50px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Partners h2 {
  padding-left: 20px;
  padding-right: 20px;
}

.Partner {
  margin: 50px 20px;
}

.Partner img {
  width: 80px;
  height: 80px;
  transition: 0.4s;
}

.Partner img:hover {
  transform: translateY(-10px);
}

/******Pill******/

.Pill {
  background-color: #C9EFAE;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  border: none;
  color: #1B4C0F;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 24px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  transition: .3s;
  text-transform: uppercase;
}

.PillLink {
  transition: .3s;
}

.Pill:hover {
  background-color: #307F1A;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
  color: white;
}

/******AboutBanner******/

.TextBanner {
  background-color: white;
  width: 100%;
  color: #307F1A;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: left;
}


.SmallHeader {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 50px;
}

.BannerHeadline {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 560px) {
  .SmallHeader {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 50px;
  }
  
  .BannerHeadline {
    margin-left: 80px;
    margin-right: 80px;
  }
}

/******Image Text Box******/

.ImageTextBox {
  padding: 20px 20px 20px 40px;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 120px;
  background-color: #EAF8D3;
  border-radius: 30px 0 0 30px;
  max-width: 2100px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.ImageTextBoxDisplay {
  background-color: white;
}

.TextContainer {
  text-align: left;
}

.TextImage {
  max-width: 300px;
  text-align: center;
}

@media (min-width: 768px) {
  .ImageTextBoxDisplay {
    display: flex;
    justify-content: flex-end;
  }
  
  .ImageTextBox {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding: 60px 60px 60px 80px;
    margin-top: 60px;
  }

  .TextContainer {
    width: 65%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
  }
  
  .TextImage {
    max-width: 400px;
    width: 35%;
    padding-left: 30px;
  }
}

/******Upcoming Event******/

.UpcomingEvent {
  background-color: #A3E585;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventBlock {
  padding: 40px 0;
  background-color: #C9EFAE; 
  border-radius: 10px;
  width: 100%;
}

.EventBlock h1 {
  margin: 0px;
}

.UpcomingEvent img {
  width: 80%;
  height: 300px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .EventBlock {
    display: flex;
    max-width: 1080px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  }

  .UpcomingEvent img {
    max-width: 550px;
    height: 300px;
    object-fit: cover;
  }
}

/******Initiative******/

.Initiative {
  padding: 40px 40px 40px 60px;
  margin-left: 35px;
  background-color: #EAF8D3;
  border-radius: 30px 0 0 30px;
  margin-bottom: 225px;
  position: relative;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.Textbox {
  text-align: left;
  max-width: 1400px;
}

.Image img {
  width: 200px;
  border-radius: 50%;
  position: absolute;
  left: 33%;
}

@media (min-width: 768px) {
  .Initiative {
    width: 75%;
    margin-bottom: 120px;
  }

  .Image img {
    bottom: 15%;
    left: -150px;
    width: 300px;
  }
  .Textbox {
    text-align: left;
    position: relative;
    padding: 40px 40px 40px 140px;
  }

}

/******PB Team******/

.PBTeam {
  margin-top: 50px;
}

.PBHeader {
  margin-left: 20px;
  margin-right: 20px;
}

.Profile {
  margin: 35px;
  padding: 35px;
  color: #307F1A;
  line-height: 15px;
  width: 350px;
  border-radius: 10px;
  font-family: "Lato";
}

.ProfilesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile h2 {
  color: #1B4C0F;
}

.Profile h3 {
  font-size: 0.98em;
}

.Headshot {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.Linkedin {
  width: 40px;
  transition: 0.2s;
}

.Profile img:hover {
  transform: scale(1.05);
}

.ProfileModal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 768px) {
  .ProfilesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/******Testimonials******/

.Testimonials {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3f3f3;
}

.QuotePadding {
  padding: 20px;
}

.QuoteBox {
  margin: 0 auto;
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.QuoteBox h3 {
  color: #42AD24;
  padding-left: 20px;
  padding-right: 20px;
}

.QuoteNav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.QuoteNav span {
  height: 20px;
  width: 20px;
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.QuoteNav span::before {
  content: '';
  height: 6px;
  width: 6px;
  background: #A3E585;
  border-radius: 50%;
  transition: background-color .3s ease;
}

.QuoteNav span:hover::before {
  background-color: #307F1A;
}

.QuoteNav span[data-quote="${active}"]::before {
  background-color: #307F1A;
}

@media (min-width: 768px) {
  .QuoteBox {
    padding: 40px;
    width: 600px;
    height: 350px;
  }
}

/******CallToAction******/

.CallToAction {
  padding: 50px 20px;
  background-color: white;
}